.app_blue_theme {
    --bg-color: #F4FAFB;
    --inverted-bg-color: #04d4f4;

    --primary-color: #7d03ce;
    --secondary-color: #F4FAFB;

    --inverted-primary-color: #F4FAFB;
    --inverted-secondary-color: #7d03ce;
}