.app_blue_theme {
    --bg-color: #F4FAFB;
    --inverted-bg-color: #04d4f4;

    --primary-color: #7d03ce;
    --secondary-color: rgb(90, 218, 90);

    --inverted-primary-color: rgb(90, 218, 90);
    --inverted-secondary-color: #7d03ce;

    // skeleton
    --skeleton-color: #ab80f0;
    --skeleton-shadow: #69D4EC;
    --code-bg: #FFF;

    // card
    --card-bg: #949899;
}