.app_dark_theme {
  --bg-color: #8da4f1;
  --inverted-bg-color: #F4F6FB;

  --primary-color: #69D4EC;
  --secondary-color: #ab80f0;

  --inverted-primary-color: #ab80f0;
  --inverted-secondary-color: #69D4EC;

  // skeleton
  --skeleton-color: #e6dff1;
  --skeleton-shadow: #c1edf7;
  --code-bg: #afbff1;

  // card
  --card-bg: #8da4f1;

  // listbox
  --listbox-bg: #8da4f1;
}