:root {
  --bg-color: #F4F6FB;
  --inverted-bg-color: #8da4f1;

  --primary-color: #6e2ca4;
  --secondary-color: lightblue;


  --inverted-primary-color: green;
  --inverted-secondary-color: #5500ff;
}