.app.normal {
  --bg-color: pink;
  --inverted-bg-color: #7e7efd;

  --primary-color: #6e2ca4;
  --secondary-color: lightblue;


  --inverted-primary-color: green;
  --inverted-secondary-color: #5500ff;
}