:root {
  --bg-color: #F4F6FB;
  --inverted-bg-color: #8da4f1;

  --primary-color: #6e2ca4;
  --secondary-color: lightblue;


  --inverted-primary-color: green;
  --inverted-secondary-color: #5500ff;

  // skeleton
  --skeleton-color: #ab80f0;
  --skeleton-shadow: #69D4EC;
  --code-bg: #fff;

  // card
  --card-bg: rgb(93, 116, 194);

  // listbox
  --listbox-bg: rgb(93, 116, 194);
}